
img{height: 250px; width: 250px; display: block; margin-left: auto; margin-right: auto;}


table{border-collapse: collapse; margin-left: auto; margin-right: auto;}



#i1{border:1px solid black; padding: 10px; border-left: none; border-bottom: none;}
#i4{border:1px solid black; padding: 10px; border-right: none; border-bottom: none;}
#i2{border:1px solid black; padding: 10px; border-bottom: none;}
#i3{border:1px solid black; padding: 10px; border-bottom: none;}

caption{border:1px solid black; padding: 10px; border-bottom: none; border-top: none; text-align: center; border-left: none; border-right:none}
    
td {width: 250px; height: 250px; text-align: center;}
