
ul.vertical {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 284px;
    background-color: #9d9d9d;
    border:1px solid black;
    border-top: none;
    height: 100%;
    position: fixed;
    top:48px;
    
  }

li.vertical a{
    display:block;
    padding:10px 16px;
    text-decoration: none; 
    color: white;
    text-align: center; 
    background-color: #0b6b00;
}

li.vertical{
    border-bottom: 1px solid black;
    border-top: none;
}



ul.horizontal{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
}

li.horizontal a{
    padding:10px 16px;
    text-decoration: none; 
    color: white;
    text-align: center;
    display: block;
    width:252px;
    background-color: #0b6b00;
}

li.horizontal{
    float:left;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

li a:hover{background-color: rgb(28, 139, 0);}

li a:active{
    background-color: #24c912;
    color: black;
}

li.horizontal:last-child{
    border-right: 1px solid black;
}