
h1{text-align: center;}


#box{
    border: solid 1px black;
    border-radius: 25px;
    width: 40%;
    height: 45vh;
    margin: 50px auto;
    background-color: white;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


button{
    display: block;
    margin: 10px auto;
}

body{
    background-color: rgb(17, 144, 155);
}



