
body{margin:0;}

.container {
    display: grid;
    grid-template-columns:14% 57% 29%;
    grid-template-rows: 10% 8% 100% 20%;
    grid-template-areas: "header header header" "horizontalnav horizontalnav horizontalnav" 
    "verticalnav maincontent secondcontent" "footer footer footer";
    height: 100vh;
    width: 100vw;
    top:0;
}
.container > div:not(.header,.horizontalnav,.verticalnav){
    background-color: white;
}


.container > div.header{
  grid-area: header;
  margin: 0;
}
.container > div.header > div.fixed{
  width: 100%;
  height: 10%;
  position:fixed;
  z-index: 1000;
  background-color: white;
}
div.header > div.fixed > p {  
  font-size: 120%;
  text-align: center;
}





.container > div.horizontalnav{
  grid-area: horizontalnav;
}

.container> div.horizontalnav > div.fixed{
  background-color: rgb(55, 55, 59);
  position: fixed;
  width:100%;
  height: 8%;

}





.container > div.verticalnav{
  grid-area: verticalnav;
}
.container>div.verticalnav>div.fixed{
  background-color: rgb(205, 205, 205);
  position: fixed;
  width: 14%;
  height: 100%;
}





.container > div.maincontent{
  grid-area: maincontent;
  font-size: 90%;
  padding: 3%;
}




.container > div.secondcontent{
  grid-area: secondcontent;
  padding: 4%;
}




.container > div.footer{
  grid-area: footer;
  z-index: 1000;
  text-align: center;
  background-color: rgb(41, 42, 47);
  color: white;
  text-align: center;
}





ul.verticalmain {
  position: fixed;
  width: 14%;
  height: 100%;
  margin:0;
  padding:0;
}

li.vertical{
  list-style-type: none;
  width: 100%;
  height: 8%;
}

.vertical a {
  text-decoration: none;
  border: 1px solid rgb(205, 205, 205);
  display: block;
  height: 100%;
  width: 99%;
  text-align: center;
  color: black;
  margin: 0;
}

.vertical a:hover{background-color: rgb(219, 219, 219);}
.vertical a:active{background-color: white;}



ul.horizontalmain{
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height:8%;
}

li.horizontal{
  list-style-type: none;
  width: 10%;
  height: 100%;
  float: left;
}

.horizontal a{
  text-decoration: none;
  display: block;
  height: 95%;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(55, 55, 59);
  padding: 0;
  margin-top: 0;
}

.horizontal a:hover{
  background-color: rgb(63, 63, 63);
}

.horizontal a:active{
  background-color: rgb(97, 97, 97);
}






